DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=


PROTECTED_ADMIN_EMAIL=

PORT=
CORS_ORIGINS=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=
API_PUBLIC_URL=
SITE_URL=
MAILBOX_REDIRECT_URL=

PROVISIONED_EMAIL_DOMAIN=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_FIRSTNAME=
SEED_ADMIN_LASTNAME=
SEED_ADMIN_PHONE=
SEED_ADMIN_ADDRESS=
SEED_ADMIN_ROLE=

SEED_DIRECTOR_EMAIL=
SEED_DIRECTOR_PASSWORD=
SEED_DIRECTOR_FIRSTNAME=
SEED_DIRECTOR_LASTNAME=
SEED_DIRECTOR_PHONE=
SEED_DIRECTOR_ADDRESS=
SEED_DIRECTOR_ROLE=

AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
